@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
padding-top: 50px;
}

.file-entry {
text-align: center;
}

img
{
height: 50px;
width: 50px;
}


.file-entry a {
display: inline-block;
max-width: 125px; /* Adjust to your desired maximum width */
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.custom-row {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.admin_content
{
font-family: "Times New Roman", Times, serif;
margin: 0 auto ;
display: grid;
grid-template-columns: 1fr 3fr;
}